.card {
    align-items: center;
    border: 3px solid rgb(3, 50, 70);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-top: 30vh;
    width: 270px;
  }